body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.channels-section {
  flex: 1;
  overflow-y: auto;
}

.messages-section {
  flex: 1;
  overflow-y: auto;
}

.message-input-section {
  height: 80px;
}
